<%= render 'layouts/nav' %>
<%= render 'layouts/errors' %>

<div class ="container mx-auto" >
  <div id="borrower_records" class ="grid grid-cols-3" >

    <% @borrower_records.each do |borrower_record| %>
      <%= render borrower_record %>
<% end %>
  </div>
</div>
