<header class="mb-8" >
  <nav>
    <ul class = "nav_links">
      <%= link_to 'All Books', books_path, class: 'mr-4' %>
      <%= link_to 'Book Borrow Records', borrower_records_path %>
    </ul>
  </nav>
  <ul class="flex">
    <% unless current_user %>
      <li>
        <%= link_to "Sign In", new_user_session_path, class: 'mr-4' %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</header>
